.example-card {
    max-width: 800px;
    display: block;
    margin:0 auto;
  }
  
  .example-header-image {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/461/014/small/profile-gradient-logo-design-template-icon-vector.jpg');
    background-size: cover;
  }
  